
  #item-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  #item-list .goods-list{
    width: 282px;
    margin: 60px 0 0 24px;
    font-size: 16px;
    text-align: center;
    transition: .3s ease color;
    display: flex;
    flex-direction: column;
  }
  
  
  
  #item-list .goods-list:nth-child(4n){
    margin-left: 0;
  }
  
  #item-list .goods-list img{
    position: relative;
    display: block;
    width: 100%;
  }
  #item-list .goods-list-hover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.5s;
  }
  #item-list .goods-list-hover img{
    position: relative;
    display: block;
  }
  #item-list .goods-list-desc{
    position: relative;
    display: block;
  }