@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "BM-HANNA-11yrs-old";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BMHANNA11yrsold.woff2") format("woff2");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Pretendard', 'BM-HANNA-11yrs-old', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

/* 전체영역 */
.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  /* min-width: 1320px; */
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

/* 헤더영역 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s, top 0.2s ease 0s;
  border-bottom: 1px solid transparent;
  background: transparent;
  z-index: 999;

}

.header-fix {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  background-color: rgba(255, 255, 255, 0.98);
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 999;
}



.header-left {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  display: inline-block;
  width: 172px;
  height: 40px;
  margin-right: 60px;
  background: url('../images/logo.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}

.gnb {
  position: relative;
  display: inline-block;
}

.depth1 {
  position: relative;
  display: block;
  font-size: 0;
}

.depth1 li {
  position: relative;
  display: inline-block;
  height: 90px;
  margin-right: 26px;
}

.depth1 li a {
  position: relative;
  display: block;
  font-size: 18px;
  color: #000;
  margin-top: 36px;
  margin-bottom: 36px;
}

.depth1 li a:hover {
  color: #2AC1BC;
  ;
}


.header-right {
  position: relative;
  display: flex;
}

.header-right a {
  margin-left: 19px;
}

.header-right a:first-child {
  margin-left: 0;
}

.search {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../images/search.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}

.cart {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../images/cart.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}

.login {
  position: relative;
  display: block;
  min-width: 69px;
  height: 33px;
  line-height: 33px;
  margin: 0px 2px;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 17px;
}

.menu-btn {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../images/menubtn.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}

/* 비주얼 영역 */
.visual {}

.sw-visual {}

.swiper-button-next {
  width: 74px;
  height: 74px;
  right: 50%;
  margin-right: -674px;
  background: url('../images/main_arr_next.png') no-repeat;
  background-size: 74px auto;
}

.swiper-button-prev {
  width: 74px;
  height: 74px;
  left: 50%;
  margin-left: -674px;
}

.swiper-button-prev:after {
  background: url('../images/main_arr_prev.png') no-repeat;
  background-size: 74px auto;

}


.visual-1 {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url('../images/visual1.png') no-repeat center;
  background-size: cover;
}

.visual-2 {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url('../images/visual2.png') no-repeat center;
  background-size: cover;
}

.visual-3 {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url('../images/visual3.png') no-repeat center;
  background-size: cover;
}

.visual-4 {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url('../images/visual4.png') no-repeat center;
  background-size: cover;
}

.visual-5 {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url('../images/visual5.png') no-repeat center;
  background-size: cover;
}

.sw-control {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 100%;
  height: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 20px;
}

/* 아이템 리스트 영역 */
.item-list-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding-bottom:200px;
  flex: 1;
}

.main-item-banner img {
  position: relative;
  display: block;
  width: 100%;
}
.main-item-banner{
  display: block;
  margin-top: 120px;
}


.main-item {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 50px;
  padding: 0 92px;
  overflow: hidden;
}


.swiper-container {}

.sw-main-item {
  flex-wrap: nowrap;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
}

/* .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
} */
.sw-main-item-wrapper .main-slide{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

}


.main-slide img {
  position: relative;
  display: block;
  width: 312px;
  height: 312px;
}

.swiper-img-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.5s;
}

.main-slide:hover .swiper-img-hover{
  opacity: 1;
  visibility: visible;
}

.swiper-img-hover img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.main-item-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 32px;
  height: 58px;
  background: url('../images/arr_swiper_prev_l.png') no-repeat center;
  background-size: cover;
  z-index: 9;
}

.main-item-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 32px;
  height: 58px;
  background: url('../images/arr_swiper_next_l.png') no-repeat center;
  background-size: cover;
  z-index: 9;
}

.main-item-desc {
  position: relative;
  display: block;
  width: 312px;
  text-align: center;
  transition: all 0.3s;
  margin-top: 20px;
  padding-top: 22px;
}

.main-item-desc>p {
  margin-bottom: 5px;
}

.main-item-desc:hover {
  color: aquamarine;
}

.item-list-wrap h3 {
  margin-top: 120px;
  padding-top: 120px;
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
  border-top: 1px solid #DDD;
}

.item-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}


.goods-list{
  width: 282px;
  margin: 60px 0 0 24px;
  font-size: 16px;
  text-align: center;
  transition: .3s ease color;
  display: flex;
  flex-direction: column;
}



.goods-list:nth-child(4n){
  margin-left: 0;
}

.goods-list img{
  position: relative;
  display: block;
  width: 100%;
}
.goods-list-hover{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.5s;
}
.goods-list-hover img{
  position: relative;
  display: block;
}
.goods-list-desc{
  position: relative;
  display: block;
}

/* 아이템리스트 공통영역 */


/* 푸터영역 */
.footer{
  /* margin-top: auto; */
  padding: 70px 0 100px 0;
  background-color: #FAFAFA;
}